.main-page {
  display: grid;
  grid-template-areas:
    "hero hero hero"
    "products products products"
    "news news poll";
}

.product-page {
  display: grid;
  grid-template-areas:
    "product product product"
    "similar similar similar"
    "reviews reviews reviews";
}
